@model Paluto_Kay_Juan.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="d-flex my-4" id="MenuHeader">
            <div class="container">
                <div class="row py-3">
                    <div class="col" id="MenuText">
                        <h1 class="text-light fw-bold"><i>ADMIN LOGIN</i></h1>
                    </div>
                    <div class="col-9" id="spacer"></div>
                </div>
            </div>
</div>

<div class="container" style="min-height:600px ;max-height:300px;padding-top:80px">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form asp-action="VerifyAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-danger text-center">
                    @if (ViewData["LoginFlag"] != null)
                    {
                        @ViewData["LoginFlag"];
                    }
                </div>
                <div class="form-group pb-1">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group pb-1">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col my-auto">
                        <a href="../UserAcc/Registration" class="text-decoration-none">Create Account</a>
                    </div>
                    <div class="col" name="spacer"></div>
                    <div class="col text-end">
                        <a href="#" onclick="history.go(-1)" class="btn btn-danger">Cancel</a>
                        <input type="submit" value="Login" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function rebindvalidators(){
            var $form = $("#RegForm");
            $form.unbind();
            $form.data("validator",null);
            $.validator.unobtrusive.parse($form);
            $form.validate($form.data("unobtrusiveValidation").options);
        }
    </script>
}
